language: python
cache: pip
dist: xenial

install:
  - pip install tox tox-travis

script: 
  - tox

after_success: 
  - pip install coveralls
  - coveralls

stages:
  - test
  - name: deploy
    if: tag IS present

jobs:
  fast_finish: true

  allow_failures:
    - env: DJANGO=master

  include:
    - python: 2.7
      env: DJANGO=1.11

    - python: 3.5
      env: DJANGO=1.11
    - python: 3.5
      env: DJANGO=2.0
    - python: 3.5
      env: DJANGO=2.1
    - python: 3.5
      env: DJANGO=2.2

    - python: 3.6
      env: DJANGO=1.11
    - python: 3.6
      env: DJANGO=2.0
    - python: 3.6
      env: DJANGO=2.1
    - python: 3.6
      env: DJANGO=2.2
    - python: 3.6
      env: DJANGO=3.0
    - python: 3.6
      env: DJANGO=master

    - python: 3.7
      env: DJANGO=1.11
    - python: 3.7
      env: DJANGO=2.0
    - python: 3.7
      env: DJANGO=2.1
    - python: 3.7
      env: DJANGO=2.2
    - python: 3.7
      env: DJANGO=3.0
    - python: 3.7
      env: DJANGO=master

    - python: 3.7
      env: TOXENV=black,flake8

    - stage: deploy
      python: 3.7
      after_success: true
      deploy:
        provider: pypi
        user: syrusakbary
        on:
          tags: true
        password:
          secure: kymIFCEPUbkgRqe2NAXkWfxMmGRfWvWBOP6LIXdVdkOOkm91fU7bndPGrAjos+/7gN0Org609ZmHSlVXNMJUWcsL2or/x5LcADJ4cZDe+79qynuoRb9xs1Ri4O4SBAuVMZxuVJvs8oUzT2R11ql5vASSMtXgbX+ZDGpmPRVZStkCuXgOc4LBhbPKyl3OFy7UQFPgAEmy3Yjh4ZSKzlXheK+S6mmr60+DCIjpaA0BWPxYK9FUE0qm7JJbHLUbwsUP/QMp5MmGjwFisXCNsIe686B7QKRaiOw62eJc2R7He8AuEC8T9OM4kRwDlecSn8mMpkoSB7QWtlJ+6XdLrJFPNvtrOfgfzS9/96Qrw9WlOslk68hMlhJeRb0s2YUD8tiV3UUkvbL1mfFoS4SI9U+rojS55KhUEJWHg1w7DjoOPoZmaIL2ChRupmvrFYNAGae1cxwG3Urh+t3wYlN3gpKsRDe5GOT7Wm2tr0ad3McCpDGUwSChX59BAJXe/MoLxkKScTrMyR8yMxHOF0b4zpVn5l7xB/o2Ik4zavx5q/0rGBMK2D+5d+gpQogKShoquTPsZUwO7sB5hYeH2hqGqpeGzZtb76E2zZYd18pJ0FsBudm5+KWjYdZ+vbtGrLxdTXJ1EEtzVXm0lscykTpqUucbXSa51dhStJvW2xEEz6p3rHo=
        distributions: "sdist bdist_wheel"
